#files to ignore
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.idb
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.vcxproj.filters
*.tlog
*.log
*.sbr
!tnr2612.dll
!dsp4624.dll
Debug/*
html/*
log/*
msg/*
oldto/*
messages/*
Release/*
tele/*
Telecom/*
*.ipch
*.user
*.tmp